<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <!-- TODO tag helpers -->
    <a class="navbar-brand text-white">Enquirio</a>
    
    <div class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">Search Questions</a>
            </li>
            <li>
                <a asp-controller="Question" asp-action="Create" class="nav-link">Ask Question</a>
            </li>
        </ul>
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Sign In</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Sign Up</a>
            </li>
        </ul>
    </div>

</nav>