@model Question
@{ ViewBag.Title = (Model == null ? "404 Question Not Found" : Model.Title); }

@if (Model == null) {

    <br/><br/>

    <div class="row">
        <div class="col-sm-9">
            <div class="row justify-content-center">
                
                <div class="col-sm-8">
                    <h3>Error 404: Question not Found</h3>
                    <br/>
                    <a asp-controller="Home" asp-action="Index">Back to Home</a>
                </div>

            </div>
        </div>
    </div>
}

<h1>@Model?.Title</h1>

<h4>@Model?.Contents</h4>
