@{
    ViewBag.Title = "Home";
}

<!-- Form -->
<br /><br />
<form class="mt-2">
    <div class="form-group row justify-content-center">
        
        <!-- TODO: tag helpers -->
        <label for="zip" class="col-sm-1 col-form-label px-0 pt-1 text-right">Zip Code</label>
        <div class="col-sm-3">
            <input id="zip" type="text" class="form-control form-control-sm" />
        </div>
        
        <label for="radius" class="col-sm-1 col-form-label px-0 pt-1 text-right">Within</label>
        <div class="col-sm-2">
            <select type="text" id="radius" class="form-control form-control-sm">
                <option value="5">5 miles</option>
                <option value="10">10 miles</option>
                <option value="25">25 miles</option>
                <option value="50">50 miles</option>
                <option value="100">100 miles</option>
                <option value="150">150 miles</option>
                <option value="250">250 miles</option>
                <option value="anywhere">All Questions</option>
            </select>
        </div>

    </div>
</form>

<!-- Results -->
<br />
<div class="row justify-content-center">
    <div class="col-sm-11">

        <h5 id="resultsTitle" class="text-center">Recent Questions Within X Miles of XXXXX</h5>
        <hr/>
        
        <div class="row justify-content-center">
            <div class="col-sm-9">
                
                <!-- For each here -->
                <h6>Question Title</h6>
                
                <p class="mb-4">
                    Contents
                    <a>(More...)</a>
                    <i class="text-secondary">&nbsp;&nbsp;&nbsp;Username - X/X/XXXX</i>
                </p>

            </div>
        </div>

    </div>
</div>